body{
   width: 100%;
}
#container {
padding: 0 100px 0 100px;
}
.head {
    display: inline-block;    
   
    margin-left: 100px;
    margin-right: 10px;
    margin-top: 30px;
    color: gray;
    font-size: 14pt;
}
.menu {
    list-style-type: none;
    padding-left: 0;
}
.menu li {
    display: inline;
    float: left;
  margin-left: 100px;

}
.menu li::first-letter{
    margin-left: 70px;
}
.menu li a {
    text-decoration: none;
    color: rgb(201, 196, 196);
}

#header{
    text-align: center;
    margin-top: 20px;
}
.first-post img {
    width: 100%;
    
}
.first-post h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 10pt;
    margin-left: 140px;
    color: rgb(197, 190, 190);
}
.text{
    padding-left: 140px;
    padding-right: 160px;
}
.first-post h2{
    margin-left: 140px;
    margin-top: 30px;
    color: gray;
}
.first-post h3{
    font-size: 12pt;
    margin-top: 40px;
    color: rgb(153, 148, 148)
}
.first-post h4{
    font-family: 'Ubuntu', sans-serif;
    font-size: 10pt;
    margin-left: 140px;
    color: rgb(197, 190, 190)
}
.left-post{
    display: inline-block;
}
.left-post h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 10pt;
    margin-left: 10px;
    color: rgb(197, 190, 190)
}
.left-post h2{
    margin-left: 10px;
    margin-top: 30px;
    color: gray;
}
.left-post h3{
    font-size: 12pt;
    margin-top: 40px;
    color: rgb(153, 148, 148);
    padding-right: 400px;
}
.right-post h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 10pt;
    margin-left: 10px;
    color: rgb(197, 190, 190)
}
.right-post h2{
    margin-left: 10px;
    margin-top: 30px;
    color: gray;
}
.right-post h3{
    font-size: 12pt;
    margin-top: 40px;
    color: rgb(153, 148, 148);
    padding-right: 400px;
}
.right-post{
  
    display: inline-block;
}
div{
    display: inline-block;
}






















